@import '../../shared/styles/variables';
@import '../../shared/styles/typography';

.prompt {
  padding: 2rem;
  background-color: $primary-background;
  @include font-body;
  
  h1, h2, h3, h4, h5, h6 {
    @include font-heading;
    margin-bottom: 1rem;
    color: $primary-text;
  }
  
  p, label, span {
    @include font-body;
    color: $secondary-text;
  }
  
  button {
    @include font-button;
  }
}

