@import '../../shared/styles/variables';
@import '../../shared/styles/typography';

.dashboard {
  min-height: 100vh;
  background-color: $primary-background;
  @include font-body;
  padding: 0 2rem;
}
