@import '../../shared/styles/variables';
@import '../../shared/styles/typography';

.dashboard {
  width: 100%;
  min-height: 100vh;
  background-color: $secondary-background;
  @include font-body;
}
